<div class="question-container" [formGroup]="formGroup">
  <div class="question">{{ step }}) {{ question.name }}</div>

  <app-dynamic-input
    [fieldProps]="question.fieldProps"
    [isCorrect]="isTheAnswerRight$ | async"
    (valueCahnged)="checkAnswer($event, formGroup.controls['question' + step], step)"
    [formControlName]="'question' + step"></app-dynamic-input>
</div>

<div class="actions">
  <div
    class="prev-button"
    *ngIf="step - 1"
    (click)="onPrevClick()">Prev</div>

  <div
    class="next-button"
    *ngIf="step !== state$.value.questions.length"
    [class.disabled]="!formGroup.controls['question' + step].valid"
    (click)="onNextClick()">Next</div>
</div>
