.question-container {
  height: 40vh;

  .question {
    margin-bottom: 1em;
    text-align: center;
    background: #ededed;
    border-radius: 5px;
    min-height: 2em;
    line-height: 2em;
  }

  @media (max-width: 1024px) {
    height: 70vh;
  }
}

.actions {
  .next-button, .prev-button {
    cursor: pointer;
  }
  
  .next-button {
    float: right;
  }
  
  .prev-button {
    float: left;
  }
}

.disabled {
  color: #c8c8c8;
  pointer-events: none;
  text-decoration: line-through;
}
