<div [ngSwitch]="fieldProps.type">
  <div *ngSwitchCase="FieldType.SELECT" class="field-container">
    <div *ngFor="let option of fieldProps.options; index as i">
      <input
        [id]="'select' + i"
        type="radio"
        [value]="option.answerId"
        [(ngModel)]="value[0]"
        (ngModelChange)="propagateChange($event, FieldType.SELECT)"
        >
        <label [for]="'select' + i" [class.isCorrect]="isCorrect">{{ option.value }}</label>
        <br>
    </div>
  </div>
  <div *ngSwitchCase="FieldType.MULTISELECT" class="field-container">
    <div [formGroup]="form">
      <app-multiselect
        [value]="value"
        [options]="fieldProps.options"
        (valueChanged)="propagateChange($event, FieldType.MULTISELECT)"
        [isCorrect]="isCorrect"
      ></app-multiselect>
    </div>
  </div>
  <div *ngSwitchCase="FieldType.INPUT" class="field-container">
    <input type="text" [(ngModel)]="value[0]" (ngModelChange)="propagateChange($event, FieldType.INPUT)" [class.isCorrectInput]="isCorrect">
  </div>
  <div *ngSwitchCase="FieldType.NUMBERINPUT" class="field-container">
    <input type="number" [(ngModel)]="value[0]" (ngModelChange)="propagateChange($event, FieldType.NUMBERINPUT)" [class.isCorrectInput]="isCorrect">
  </div>
</div>
