<div [ngSwitch]="fieldProps.type">
  <div *ngSwitchCase="FieldType.SELECT" class="field-container">
    <div *ngFor="let option of fieldProps.options; index as i">
      <input
        [id]="'select' + i"
        type="radio"
        [value]="option.answerId"
        [(ngModel)]="value"
        (ngModelChange)="propagateChange($event)"
        >
        <label [for]="'select' + i">{{ option.value }}</label>
        <br>
    </div>
  </div>
  <div *ngSwitchCase="FieldType.MULTISELECT" class="field-container">
    <div [formGroup]="form">
      <app-multiselect [options]="fieldProps.options" (valueChanged)="propagateChange($event)" formControlName="multiselect"></app-multiselect>
    </div>
  </div>
  <div *ngSwitchCase="FieldType.INPUT" class="field-container">
    <input type="text" [(ngModel)]="value" (ngModelChange)="propagateChange($event)">
  </div>
  <div *ngSwitchCase="FieldType.NUMBERINPUT" class="field-container">
    <input type="number" [(ngModel)]="value" (ngModelChange)="propagateChange($event)">
  </div>
</div>
